.header-spacer {
  flex: 1 1 auto;
}

.header{
    background-color: azure;
    font-size: 1.5rem;
    .app-title{
        font-size: 20px;
        font-weight: bold;
        color: darkred;
        padding-left: 10px;
    }
}

.card {
    max-width: 350px;
    padding: 10px;
    margin: 20px;
    background-color: #f9f9f9;
    img{
        width: 100%;
        height: auto;
    }
}

.example-header-image {
  background-image: url('https://img.pokemondb.net/sprites/ruby-sapphire/normal/bulbasaur.png');
  background-size: cover;
  background-position: center;
}