<app-pokemons/>

<div class="row">

  <div class="column">

    <div class="pokemon-card" appearance="outlined">
        <div class="pokemon-header">
          <div class="pokemon-icon"></div>
          <h4>Bulbasaur</h4>
          <h5>Bulb Plant Pokemon</h5>
        </div>
        <img src="https://img.pokemondb.net/artwork/large/bulbasaur.jpg" alt="Photo of Bulbasaur">
        <mat-card-actions>
          <button matButton>LIKE</button>
          <button matButton>SHARE</button>
        </mat-card-actions>
    </div>

    <div class="pokemon-card" appearance="outlined">
        <div class="pokemon-header">
          <div class="pokemon-icon"></div>
          <h4>Bulbasaur</h4>
          <h5>Bulb Plant Pokemon</h5>
        </div>
        <img src="https://img.pokemondb.net/artwork/large/bulbasaur.jpg" alt="Photo of Bulbasaur">
        <mat-card-actions>
          <button matButton>LIKE</button>
          <button matButton>SHARE</button>
        </mat-card-actions>
    </div>

    <div class="pokemon-card" appearance="outlined">
        <div class="pokemon-header">
          <div class="pokemon-icon"></div>
          <h4>Bulbasaur</h4>
          <h5>Bulb Plant Pokemon</h5>
        </div>
        <img src="https://img.pokemondb.net/artwork/large/bulbasaur.jpg" alt="Photo of Bulbasaur">
        <mat-card-actions>
          <button matButton>LIKE</button>
          <button matButton>SHARE</button>
        </mat-card-actions>
    </div>

  </div>

</div>