<app-pokemons />

<div class="row">

  <div class="column">

    <div class="pokemon-card" appearance="outlined">
      <div class="pokemon-header">
        <img class="pokemon-icon" src="https://img.pokemondb.net/sprites/ruby-sapphire/normal/bulbasaur.png" alt="Bulbasaur Icon"/>
        <span class="pokemon-name">Bulbasaur</span>
        <span class="sub-name">Bulb Plant Pokemon</span>
      </div>
      <img src="https://img.pokemondb.net/artwork/large/bulbasaur.jpg" alt="Photo of Bulbasaur">
      <mat-card-actions>
        <app-counters />
      </mat-card-actions>
    </div>

    <div class="pokemon-card" appearance="outlined">
      <div class="pokemon-header">
        <div>
          <img class="pokemon-icon" src="https://img.pokemondb.net/sprites/ruby-sapphire/normal/ivysaur.png" alt="Ivysaur Icon">
        </div>
        <span class="pokemon-name">Ivysaur</span>
        <span class="sub-name">Bulb Plant Pokemon</span>
      </div>
      <img src="https://img.pokemondb.net/artwork/large/ivysaur.jpg" alt="Photo of Bulbasaur">
      <mat-card-actions>
        <app-counters />
      </mat-card-actions>
    </div>

    <div class="pokemon-card" appearance="outlined">
      <div class="pokemon-header">
        <img class="pokemon-icon" src="https://img.pokemondb.net/sprites/ruby-sapphire/normal/venusaur.png" alt="Venusaur Icon"/>
        <span class="pokemon-name">Venusaur</span>
        <span class="sub-name">Bulb Plant Pokemon</span>
      </div>
      <img src="https://img.pokemondb.net/artwork/large/venusaur.jpg" alt="Photo of Bulbasaur">
      <mat-card-actions>
        <app-counters />
      </mat-card-actions>
    </div>

    <div class="pokemon-card" appearance="outlined">
      <div class="pokemon-header">
        <img class="pokemon-icon" src="https://img.pokemondb.net/sprites/ruby-sapphire/normal/charmander.png" alt="Charmander Icon"/>
        <span class="pokemon-name">Charmander</span>
        <span class="sub-name">Fire Lizard Pokemon</span>
      </div>
      <img src="https://img.pokemondb.net/artwork/large/charmander.jpg" alt="Photo of Charmander">
      <mat-card-actions>
        <app-counters />
      </mat-card-actions>
    </div>

    <div class="pokemon-card" appearance="outlined">
      <div class="pokemon-header">
        <img class="pokemon-icon" src="https://img.pokemondb.net/sprites/ruby-sapphire/normal/charmeleon.png" alt="Charmeleon Icon"/>
        <span class="pokemon-name">Charmeleon</span>
        <span class="sub-name">Fire Lizard Pokemon</span>
      </div>
      <img src="https://img.pokemondb.net/artwork/large/charmeleon.jpg" alt="Photo of Charmeleon">
      <mat-card-actions>
        <app-counters />
      </mat-card-actions>
    </div>

    <div class="pokemon-card" appearance="outlined">
      <div class="pokemon-header">
        <img class="pokemon-icon" src="https://img.pokemondb.net/sprites/ruby-sapphire/normal/charizard.png" alt="Charizard Icon"/>
        <span class="pokemon-name">Charizard</span>
        <span class="sub-name">Fire Lizard Pokemon</span>
      </div>
      <img src="https://img.pokemondb.net/artwork/large/charizard.jpg" alt="Photo of Charizard">
      <mat-card-actions>
        <app-counters />
      </mat-card-actions>
    </div>

  </div>

</div>