.header-spacer {
  flex: 1 1 auto;
}

.header{
    background-color: azure;
    font-size: 1.5rem;
    .app-title{
        font-size: 20px;
        font-weight: bold;
        color: darkred;
        padding-left: 10px;
    }
}